*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

ul li:hover {
  cursor: pointer;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: yellow;
}

a:hover {
  color: #a99929;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: beige;
}
body #loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 49, 50, 0.29);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #loader .loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #b02594;
  --_m: conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
body #modal {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 7;
  transition: all 0.7s ease-in-out;
}
body #modal .close-modal {
  text-align: end;
  position: absolute;
  right: 1%;
  top: 3%;
  z-index: 8;
}
body #modal .modal-content {
  background-color: rgba(240, 248, 255, 0.4392156863);
  width: 100%;
  height: 100%;
}
@media (min-width: 576px) and (max-width: 1024px) {
  body #modal .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 570px) {
  body #modal .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body #modal .modal-content .modal-video {
  display: none;
  background: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body #modal .modal-content .render-image {
  display: none;
  position: relative;
  justify-content: center;
  height: 94%;
  /* Next & previous buttons */
  /* Position the "prev button" to the right */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Fading animation */
}
@media (max-width: 570px) {
  body #modal .modal-content .render-image {
    height: 40%;
  }
}
body #modal .modal-content .render-image .mySlides {
  display: none;
  border: 4px solid #ccc;
  border-radius: 4px;
}
body #modal .modal-content .render-image .prev,
body #modal .modal-content .render-image .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
@media (max-width: 570px) {
  body #modal .modal-content .render-image .prev,
  body #modal .modal-content .render-image .next {
    padding: 10px;
  }
}
body #modal .modal-content .render-image .prev {
  left: 0;
}
@media (min-width: 576px) and (max-width: 1024px) {
  body #modal .modal-content .render-image .prev {
    left: -47px;
  }
}
@media (max-width: 570px) {
  body #modal .modal-content .render-image .prev {
    left: -33px;
  }
}
body #modal .modal-content .render-image .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
@media (min-width: 576px) and (max-width: 1024px) {
  body #modal .modal-content .render-image .next {
    right: -47px;
  }
}
@media (max-width: 570px) {
  body #modal .modal-content .render-image .next {
    right: -33px;
  }
}
body #modal .modal-content .render-image .prev:hover,
body #modal .modal-content .render-image .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
body #modal .modal-content .render-image .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body #modal .modal-content .project-profile {
  display: none;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}
@media (max-width: 570px) {
  body #modal .modal-content .project-profile {
    justify-content: flex-end;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body #modal .modal-content .project-profile {
    justify-content: flex-end;
    width: 100%;
  }
}
body #modal .modal-content .project-profile .publuuflip {
  margin-left: 140px;
  margin-top: 40px;
}
@media (max-width: 570px) {
  body #modal .modal-content .project-profile .publuuflip {
    margin: 0;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body #modal .modal-content .project-profile .publuuflip {
    margin: 0;
  }
}
body main {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
body main section {
  height: 100%;
}
body main #bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
body main #image-2d {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed !important;
  overflow: hidden;
  z-index: 5;
}
@media (max-width: 570px) {
  body main #image-2d {
    overflow: scroll;
  }
}
body main #image-2d #canvas {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  left: 0%;
  pointer-events: none;
}
body main #image-2d #pop-up-card {
  display: none;
  position: absolute;
  right: 10px;
  top: 25%;
  width: 180px;
  z-index: 3;
  flex-direction: row-reverse;
  border-radius: 4px;
  overflow: hidden;
}
body main #image-2d #pop-up-card .pop-up-content {
  display: none;
  width: 100%;
  max-width: 100%;
  background-color: rgba(1, 4, 15, 0.5);
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 4px;
}
body main #image-2d #pop-up-card .pop-up-img {
  display: flex;
}
body main #image-2d #pop-up-card .pop-up-img img {
  width: 100%;
}
body main #image-2d #pop-up-card .pop-up-info {
  font-family: cursive;
  font-size: 10px;
  text-align: left;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
}
body main #image-2d #pop-up-card .pop-up-btn {
  display: flex;
  justify-content: center;
}
body main #image-2d #pop-up-card .pop-up-btn button {
  width: 90%;
  background: rgb(242, 237, 233);
  border-radius: 8px;
  border: none;
}
body main #image-2d #pop-up-card #close-pop-up {
  padding-left: 3px;
}
body main #image-2d #pop-up-card #close-pop-up button {
  background: rgba(1, 4, 15, 0.5);
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
body main #image-2d #pop-up-card #close-pop-up svg {
  transform: rotateZ(179deg) rotateX(182deg);
}
body main #image-2d #menu {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}
body main #image-2d #menu .all-projects-btn {
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(1, 4, 15, 0.5);
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding: 10px 0;
}
body main #image-2d #menu .all-projects-btn:hover svg {
  transform: rotate(180deg) scale(1.5);
}
body main #image-2d #menu .all-projects-btn #menu-btn {
  border: none;
  background: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  cursor: pointer;
  color: inherit;
}
body main #image-2d #menu .all-projects-btn svg {
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
  width: auto;
}
body main #image-2d #menu .all-projects-btn svg path {
  stroke: #fff;
}
body main #image-2d #menu .projects {
  width: 600px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  transform: translateX(-410px);
  transition: all 0.3s ease-in-out;
}
body main #image-2d #menu .projects .projects-content {
  width: 264px;
  background-color: rgba(1, 4, 15, 0.5);
  height: 100%;
  padding-right: 5px;
  padding-bottom: 15px;
}
body main #image-2d #menu .projects .projects-content .title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: rgba(1, 4, 15, 0.5019607843);
}
body main #image-2d #menu .projects .projects-content .title::after {
  position: absolute;
  top: 100%;
  content: "";
  width: 100%;
  height: 20px;
  background: linear-gradient(0deg, transparent, rgba(1, 4, 15, 0.5019607843) 100%);
  z-index: 99;
}
body main #image-2d #menu .projects .projects-content .title img {
  width: 36px;
  height: 39px;
}
body main #image-2d #menu .projects .projects-content .title h1 {
  font-family: monospace;
  color: white;
  margin-bottom: 5px;
  margin-left: 5px;
}
body main #image-2d #menu .projects .projects-content .cards-list {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 12px 5px 0 8px;
  overflow-y: scroll;
  pointer-events: all;
}
body main #image-2d #menu .projects .projects-content .cards-list::-webkit-scrollbar {
  width: 8px;
}
body main #image-2d #menu .projects .projects-content .cards-list::-webkit-scrollbar-thumb {
  background: rgba(1, 4, 15, 0.5);
  border-radius: 4px;
}
body main #image-2d #menu .projects .projects-content .cards-list .project-card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}
body main #image-2d #menu .projects .projects-content .cards-list .project-card .card-img {
  display: flex;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
body main #image-2d #menu .projects .projects-content .cards-list .project-card .card-img img {
  width: 100%;
}
body main #image-2d #menu .projects .projects-content .cards-list .project-card .card-info {
  display: flex;
  align-self: flex-start;
  padding: 0 10px;
  padding-right: 0;
  align-items: center;
  width: 100%;
}
body main #image-2d #menu .projects .projects-content .cards-list .project-card .card-info h4 {
  text-transform: uppercase;
  margin: 0;
  flex-grow: 1;
  font-size: 14px;
}
body main #image-2d #menu .projects .projects-content .cards-list .project-card .card-btn {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}
body main #image-2d #menu .projects .projects-content .cards-list .project-card .card-btn .card-item h6 {
  margin: 0;
}
body main #image-2d #menu .projects .projects-content .cards-list .project-card .card-btn .card-item p {
  margin: 2px 0;
  color: rgb(182, 182, 182);
}
body main #image-2d #menu .projects .projects-content .cards-list .project-card .card-btn .card-item:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #image-2d #menu .projects .projects-content .cards-list .project-card .card-btn button {
  width: 91px;
  height: 32px;
  border-radius: 6px;
  font-size: 9.6px;
  background: rgb(242, 237, 233);
  color: rgb(112, 112, 112);
  border: none;
  cursor: pointer;
}
body main #image-2d #menu .projects .projects-btn {
  position: relative;
  background-color: rgba(1, 4, 15, 0.5);
  border-radius: 0px 8px 8px 0px;
  width: 28px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
}
body main #image-2d #menu .projects .projects-btn::before {
  position: absolute;
  background-color: transparent;
  top: -20px;
  left: 0px;
  height: 20px;
  width: 10px;
  border-bottom-left-radius: 8px;
  box-shadow: rgba(1, 4, 15, 0.5) 0px 10px 0px 0px;
}
body main #image-2d #menu .projects .projects-btn::after {
  position: absolute;
  background-color: transparent;
  bottom: -20px;
  left: 0px;
  height: 20px;
  width: 10px;
  border-top-left-radius: 8px;
  box-shadow: rgba(1, 4, 15, 0.5) 0px -10px 0px 0px;
}
body main #image-2d #menu .projects .projects-btn .projects-icon {
  display: flex;
}
body main #image-2d #menu .projects .projects-btn .projects-icon path {
  stroke: #fff;
}
body main #image-2d .top-menu {
  position: fixed;
  top: 17%;
  right: 1%;
  display: flex;
  z-index: 5;
}
body main #image-2d .top-menu .hamburger-icon {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
body main #image-2d .top-menu .hamburger-icon svg path {
  stroke: #000;
}
body main #image-2d .top-menu .all-nav-links {
  display: none;
  background-color: rgb(55, 53, 68);
  border-radius: 10px;
  transition: all 0.3s;
}
body main #image-2d .top-menu .all-nav-links .close-top-menu {
  transform: rotateY(180deg);
  transition: all 0.3s ease-in-out;
}
body main #image-2d .top-menu .all-nav-links .close-top-menu svg path {
  stroke: #fff;
}
body main #image-2d .top-menu .all-nav-links .close-top-menu:hover svg {
  transform: scale(1.2);
}
body main #image-2d .top-menu .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 6px;
  cursor: pointer;
}
body main #image-2d .top-menu .nav-link a {
  font-size: 9px;
  text-decoration: none;
  font-family: monospace;
  color: white;
}
body main #image-2d .top-menu .nav-link svg {
  width: auto !important;
  height: auto !important;
  margin-left: 3px;
}
body main #image-2d .trademark {
  position: absolute;
  bottom: 1%;
  right: 3%;
  font-size: 12px;
  color: black;
  font-weight: 900;
  font-family: cursive;
  text-align: center;
}
body main #image-2d .trademark a {
  text-decoration: none;
  color: black;
}
body main #image-2d svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 570px) {
  body main #image-2d svg {
    width: auto;
    height: auto;
  }
}
body main #image-2d svg #wave,
body main #image-2d svg #heyazah,
body main #image-2d svg #lex,
body main #image-2d svg #skyline,
body main #image-2d svg #business-yard {
  cursor: pointer;
}
body main #image-2d svg #wave.active path,
body main #image-2d svg #heyazah.active path,
body main #image-2d svg #lex.active path,
body main #image-2d svg #skyline.active path,
body main #image-2d svg #business-yard.active path {
  fill: rgb(37, 37, 37);
}
body main #image-2d svg #wave:hover path,
body main #image-2d svg #heyazah:hover path,
body main #image-2d svg #lex:hover path,
body main #image-2d svg #skyline:hover path,
body main #image-2d svg #business-yard:hover path {
  transition: all 0.3s ease-in-out;
  fill: rgb(37, 37, 37);
}
body main #logos {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  z-index: 5;
  pointer-events: none;
}
body main #logos div:first-child {
  margin-left: 20px;
  margin-top: 20px;
}
body main #logos div:first-child.heyaza-logo {
  margin-top: 15px;
}
@media (max-width: 570px) {
  body main #logos div:first-child.heyaza-logo img {
    width: 33%;
  }
}
@media (max-width: 570px) {
  body main #logos div:first-child img {
    width: 50%;
  }
}
body main #logos div:last-child {
  margin-right: 20px;
  margin-top: 20px;
}
@media (max-width: 570px) {
  body main #logos div:last-child {
    margin-top: 10px;
  }
}
body main #logos div:last-child img {
  height: 88px;
}
@media (max-width: 570px) {
  body main #logos div:last-child img {
    height: 46px;
  }
}
body main #surrounding-nav {
  display: none;
  position: absolute;
  height: 15%;
  bottom: 8.5%;
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  z-index: 5;
}
body main #surrounding-nav .title {
  padding-left: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
}
body main #surrounding-nav .title h3 {
  margin-left: 28px;
}
body main #surrounding-nav .title button {
  font-size: 9px;
  color: #000;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}
body main #surrounding-nav .sub-nav {
  background-color: rgba(1, 4, 15, 0.5);
  padding: 8px 25px;
}
body main #surrounding-nav .sub-nav a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding: 1em 1em;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.34);
  margin-right: 8px;
}
body main #aminities {
  display: none;
  position: absolute;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  bottom: 8.5%;
  width: 100%;
  border-radius: 10px;
  color: white;
}
@media (max-width: 570px) {
  body main #aminities {
    height: 25%;
    bottom: 16%;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body main #aminities {
    height: 23%;
  }
}
body main #aminities .title {
  padding-left: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
}
body main #aminities .title h3 {
  margin-left: 28px;
  font-family: sans-serif;
  font-size: 24px;
  margin-bottom: 3px;
}
@media (max-width: 570px) {
  body main #aminities .title h3 {
    margin-left: 0;
  }
}
body main #aminities .title button {
  font-size: 9px;
  color: #000;
  width: 30px;
  height: 20px;
  margin-right: 10px;
  align-self: center;
}
body main #aminities .sub-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 26px;
  padding-bottom: 4px;
  background-color: rgba(1, 4, 15, 0.5);
  font-size: 10px;
}
@media (min-width: 1980px) {
  body main #aminities .sub-nav {
    font-size: 14px;
  }
}
@media (max-width: 570px) {
  body main #aminities .sub-nav {
    font-size: 8px;
    padding-left: 13px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body main #aminities .sub-nav {
    font-size: 9px;
  }
}
body main #aminities .sub-nav .elevations,
body main #aminities .sub-nav .enterance,
body main #aminities .sub-nav .landscape,
body main #aminities .sub-nav .street-view,
body main #aminities .sub-nav .building {
  width: 13%;
}
@media (max-width: 570px) {
  body main #aminities .sub-nav .elevations,
  body main #aminities .sub-nav .enterance,
  body main #aminities .sub-nav .landscape,
  body main #aminities .sub-nav .street-view,
  body main #aminities .sub-nav .building {
    width: 33%;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body main #aminities .sub-nav .elevations,
  body main #aminities .sub-nav .enterance,
  body main #aminities .sub-nav .landscape,
  body main #aminities .sub-nav .street-view,
  body main #aminities .sub-nav .building {
    width: 33%;
  }
}
body main #aminities .sub-nav h4 {
  padding-left: 8px;
  font-size: 12px;
  background-color: rgba(194, 194, 194, 0.231372549);
  width: 84%;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: lighter;
  font-family: system-ui;
  margin-bottom: 8px;
  margin-top: 10px;
}
@media (min-width: 1980px) {
  body main #aminities .sub-nav h4 {
    font-size: 16px;
  }
}
@media (max-width: 570px) {
  body main #aminities .sub-nav h4 {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body main #aminities .sub-nav h4 {
    font-size: 12px;
  }
}
body main #aminities .sub-nav li {
  width: 83%;
  background-color: rgba(0, 0, 0, 0.34);
  margin-bottom: 2px;
  padding-left: 8px;
  border-radius: 4px;
  font-weight: lighter;
  font-family: system-ui;
}
body main #navbar {
  position: absolute;
  height: 5%;
  bottom: 2%;
  background-color: rgba(1, 4, 15, 0.5);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
@media (max-width: 570px) {
  body main #navbar {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    bottom: 10%;
    padding-left: 0;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body main #navbar {
    width: 529px;
    bottom: 0.5%;
  }
}
body main #navbar div {
  display: flex;
  flex-direction: row-reverse;
  color: white;
  align-items: center;
}
body main #navbar div .nav-link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-left: rgba(0, 0, 0, 0);
  padding: 1em;
  transition: all 0.3s ease-in-out;
  font-family: sans-serif;
  font-size: 12px;
}
@media (min-width: 1980px) {
  body main #navbar div .nav-link {
    font-size: 18px;
    padding-left: 5px;
  }
}
@media (min-width: 1026px) and (max-width: 1979px) {
  body main #navbar div .nav-link {
    padding-left: 3px;
  }
}
@media (max-width: 570px) {
  body main #navbar div .nav-link {
    font-size: 7px;
    padding: 0.5em;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body main #navbar div .nav-link {
    font-size: 10px;
    padding-left: 3px;
  }
}
body main #navbar div .nav-link:hover {
  color: #a99929;
}
@media (max-width: 570px) {
  body main #navbar div svg {
    width: 10px;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body main #navbar div svg {
    width: 12px;
    height: 12px;
  }
}
@media (min-width: 1980px) {
  body main #navbar div svg {
    width: 18px;
    height: 18px;
  }
}
body main #navbar .gallery-submenu {
  display: none;
  position: absolute;
  top: -179%;
  background-color: rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 1980px) {
  body main #navbar .gallery-submenu {
    top: -246%;
  }
}
@media (max-width: 570px) {
  body main #navbar .gallery-submenu {
    top: -435%;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body main #navbar .gallery-submenu {
    top: -294%;
  }
}
body main #navbar .gallery-submenu a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 100%;
  padding: 6px 1px;
  font-family: sans-serif;
  text-decoration: none;
}
@media (min-width: 1980px) {
  body main #navbar .gallery-submenu a {
    font-size: 16px;
  }
}
@media (max-width: 570px) {
  body main #navbar .gallery-submenu a {
    text-transform: capitalize;
    font-size: 6px;
    padding: 4.5px 2px;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body main #navbar .gallery-submenu a {
    text-transform: capitalize;
    font-size: 9px;
    padding: 10.5px 2px;
  }
}

/*# sourceMappingURL=heyaza.css.map */
