*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

button[disabled] {
  display: none;
}

ul li:hover {
  cursor: pointer;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: yellow;
}

a:hover {
  color: #a99929;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #928d77;
}
body .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 4, 15, 0.8);
  z-index: 6;
}
body .modal .modal-content {
  width: 80%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .modal .modal-content .modal-content-video,
body .modal .modal-content .modal-content-pdf {
  display: none;
}
body .modal .modal-content .modal-content-video {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* Next & previous buttons */
  /* Position the "prev button" to the right */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Fading animation */
}
body .modal .modal-content .modal-content-video .mySlides {
  display: none;
  border: 4px solid #ccc;
  border-radius: 4px;
}
body .modal .modal-content .modal-content-video .prev,
body .modal .modal-content .modal-content-video .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
@media (max-width: 570px) {
  body .modal .modal-content .modal-content-video .prev,
  body .modal .modal-content .modal-content-video .next {
    padding: 10px;
  }
}
body .modal .modal-content .modal-content-video .prev.hide,
body .modal .modal-content .modal-content-video .next.hide {
  pointer-events: none;
  opacity: 0.4;
}
body .modal .modal-content .modal-content-video .prev {
  left: 0;
}
@media (min-width: 576px) and (max-width: 1024px) {
  body .modal .modal-content .modal-content-video .prev {
    left: -47px;
  }
}
@media (max-width: 570px) {
  body .modal .modal-content .modal-content-video .prev {
    left: -33px;
  }
}
body .modal .modal-content .modal-content-video .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
@media (min-width: 576px) and (max-width: 1024px) {
  body .modal .modal-content .modal-content-video .next {
    right: -47px;
  }
}
@media (max-width: 570px) {
  body .modal .modal-content .modal-content-video .next {
    right: -33px;
  }
}
body .modal .modal-content .modal-content-video .prev:hover,
body .modal .modal-content .modal-content-video .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
body .modal .modal-content .modal-content-video .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body .modal .modal-content .modal-content-pdf {
  width: 100%;
  height: 100%;
}
body .modal .close-modal {
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
  z-index: 6;
}
body .modal .close-modal button {
  border: none;
  background-color: rgba(1, 4, 15, 0.5);
  backdrop-filter: blur(10px);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
body .social-menu {
  display: none;
  position: fixed;
  right: 0.6%;
  bottom: 6%;
  width: 200px;
  height: 203px;
  background-color: rgba(1, 4, 15, 0.8);
  border-radius: 12px;
  padding: 10px;
  padding-top: 15px;
  z-index: 3;
}
body .social-menu .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
body .social-menu .controls .row-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 1px solid white;
  border-radius: 12px;
  padding: 0px 9px;
}
body .social-menu .controls .row-control .icon svg {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}
body .social-menu .controls .row-control .para {
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 10px;
  width: 58%;
}
body .social-menu .social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 15px auto;
}
body .social-menu .social-icons .icon-container {
  padding: 6px 9px;
  background-color: rgba(1, 4, 15, 0.5);
  border-radius: 8px;
}
body .form {
  display: none;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.83);
  justify-content: center;
  align-items: center;
  z-index: 2;
}
body .form .form-content {
  width: 500px;
  height: 280px;
  border-radius: 12px;
  background-color: rgba(1, 4, 15, 0.5);
}
body .form .form-title {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
body .form .form-title h3 {
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
}
body .form .form-title svg {
  position: absolute;
  right: 8%;
}
body .form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgba(1, 4, 15, 0.8);
  padding-bottom: 22px;
  border-radius: 10px;
}
body .form form .form-control {
  width: 40%;
}
body .form form .form-control.hide {
  visibility: hidden;
}
body .form form .form-control label {
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 10px;
}
body .form form .form-control input,
body .form form .form-control select {
  width: 100%;
  background: rgba(1, 4, 15, 0.7);
  border: 1px solid white;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  padding: 10px 8px;
}
body .form form .form-control input[type=submit] {
  text-transform: uppercase;
  font-size: 14px;
  /* width: 70%; */
  padding: 10px;
}
body .form form .form-control input[disabled] {
  opacity: 0.2;
}
body .contacts {
  position: fixed;
  bottom: 1%;
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
body .contacts .mail {
  background-color: rgba(1, 4, 15, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  align-self: end;
  margin-bottom: 20px;
  cursor: pointer;
}
body .contacts .contacts-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 7px;
  border-radius: 8px;
  background-color: rgba(1, 4, 15, 0.8);
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
body .contacts .contacts-control.active {
  background-color: azure;
  color: #696969;
}
body .contacts .contacts-control.active svg path {
  fill: #696969;
}
body .contacts .contacts-control p {
  margin: 0;
  margin-left: 13px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}
body .top-menu {
  position: fixed;
  bottom: 1%;
  left: 50%;
  display: flex;
  z-index: 5;
  transform: translate(-50%);
}
body .top-menu .hamburger-icon {
  display: flex;
  align-items: center;
  border-radius: 17%;
  background-color: rgba(1, 4, 15, 0.8);
  transform: rotateZ(90deg);
  cursor: pointer;
  transition: all 0.3s;
  animation-iteration-count: infinite;
}
body .top-menu .hamburger-icon svg path {
  stroke: #fff;
}
body .top-menu .all-nav-links {
  display: none;
  background-color: rgba(1, 4, 15, 0.8);
  border-radius: 10px;
  transition: all 0.3s;
}
body .top-menu .all-nav-links .close-top-menu {
  transform: rotateZ(270deg);
  transition: all 0.3s ease-in-out;
}
body .top-menu .all-nav-links .close-top-menu svg path {
  stroke: #fff;
}
body .top-menu .all-nav-links .close-top-menu:hover svg {
  transform: scale(1.2);
}
body .top-menu .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 6px;
  cursor: pointer;
}
body .top-menu .nav-link a {
  font-size: 12px;
  text-decoration: none;
  font-family: monospace;
  color: white;
  text-transform: capitalize;
}
body .top-menu .nav-link svg {
  width: auto !important;
  height: auto !important;
  margin-left: 3px;
}
body #pop-up-card {
  display: none;
  position: absolute;
  right: 10px;
  top: 16%;
  width: 238px;
  z-index: 3;
  flex-direction: row-reverse;
  border-radius: 4px;
  overflow: hidden;
}
body #pop-up-card .pop-up-content {
  display: none;
  width: 100%;
  max-width: 100%;
  background-color: rgba(1, 4, 15, 0.85);
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 4px;
}
body #pop-up-card .pop-up-img {
  display: flex;
}
body #pop-up-card .pop-up-img img {
  width: 100%;
  max-height: 135px;
}
body #pop-up-card .pop-up-info {
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
}
body #pop-up-card .pop-up-info h3 {
  margin: 0px 0px 5px 0;
  text-align: center;
  font-size: 16px;
  background: rgba(1, 4, 15, 0.8);
  backdrop-filter: blur(10px);
  text-transform: capitalize;
}
body #pop-up-card .pop-up-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}
body #pop-up-card .pop-up-btn button:not([disabled]) {
  color: #fff;
  width: 55%;
  background: rgba(1, 4, 15, 0.5);
  border-radius: 4px;
  border: 1px solid white;
  height: 22px;
  font-size: 9px;
  text-transform: uppercase;
  cursor: pointer;
}
body #pop-up-card #close-pop-up {
  padding-left: 3px;
}
body #pop-up-card #close-pop-up button {
  background: rgba(1, 4, 15, 0.5);
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
body #pop-up-card #close-pop-up svg {
  transform: rotateZ(179deg) rotateX(182deg);
}
body #menu {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}
body #menu .all-projects-btn {
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(1, 4, 15, 0.8);
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding: 10px 0;
}
body #menu .all-projects-btn:hover svg {
  transform: rotate(180deg) scale(1.5);
}
body #menu .all-projects-btn #menu-btn {
  border: none;
  background: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  cursor: pointer;
  color: inherit;
}
@media (max-width: 570px) {
  body #menu .all-projects-btn #menu-btn {
    display: none;
  }
}
body #menu .all-projects-btn svg {
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
}
body #menu .all-projects-btn svg path {
  stroke: #fff;
}
body #menu .projects {
  width: 600px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  transform: translateX(-410px);
  transition: all 0.3s ease-in-out;
}
body #menu .projects .projects-content {
  width: 264px;
  background-color: rgba(1, 4, 15, 0.8);
  height: 100%;
  padding-right: 5px;
  padding-bottom: 15px;
}
body #menu .projects .projects-content .title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
body #menu .projects .projects-content .title::after {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 20px;
  background: linear-gradient(0deg, transparent, rgba(1, 4, 15, 0.5) 100%);
  z-index: 99;
}
body #menu .projects .projects-content .title img {
  opacity: 0;
  width: 36px;
  height: 39px;
}
body #menu .projects .projects-content .title h1 {
  font-family: monospace;
  color: white;
  margin-bottom: 5px;
  margin-left: 5px;
}
body #menu .projects .projects-content .cards-list {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 1px 5px 11px 8px;
  overflow-y: scroll;
  pointer-events: all;
}
body #menu .projects .projects-content .cards-list::-webkit-scrollbar {
  width: 8px;
}
body #menu .projects .projects-content .cards-list::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}
body #menu .projects .projects-content .cards-list .project-card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}
body #menu .projects .projects-content .cards-list .project-card .card-img {
  display: flex;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
body #menu .projects .projects-content .cards-list .project-card .card-img img {
  width: 100%;
}
body #menu .projects .projects-content .cards-list .project-card .card-info {
  display: flex;
  align-self: flex-start;
  padding: 0 10px;
  padding-right: 0;
  align-items: center;
  width: 100%;
}
body #menu .projects .projects-content .cards-list .project-card .card-info h4 {
  text-transform: uppercase;
  margin: 0;
  flex-grow: 1;
  font-size: 14px;
}
body #menu .projects .projects-content .cards-list .project-card .card-btn {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}
body #menu .projects .projects-content .cards-list .project-card .card-btn .card-item h6 {
  margin: 0;
}
body #menu .projects .projects-content .cards-list .project-card .card-btn .card-item p {
  margin: 2px 0;
  color: rgb(182, 182, 182);
}
body #menu .projects .projects-content .cards-list .project-card .card-btn .card-item:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #menu .projects .projects-content .cards-list .project-card .card-btn button {
  width: 91px;
  height: 32px;
  border-radius: 6px;
  font-size: 9.6px;
  background: rgb(242, 237, 233);
  color: rgb(112, 112, 112);
  border: none;
  cursor: pointer;
}
body #menu .projects .projects-content .cards-list .project-card:last-child {
  margin-bottom: 10px;
}
body #menu .projects .projects-btn {
  position: relative;
  background-color: rgba(1, 4, 15, 0.8);
  border-radius: 0px 8px 8px 0px;
  width: 28px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
}
body #menu .projects .projects-btn::before {
  position: absolute;
  background-color: transparent;
  top: -20px;
  left: 0px;
  height: 20px;
  width: 10px;
  border-bottom-left-radius: 8px;
  box-shadow: rgba(1, 4, 15, 0.5) 0px 10px 0px 0px;
}
body #menu .projects .projects-btn::after {
  position: absolute;
  background-color: transparent;
  bottom: -20px;
  left: 0px;
  height: 20px;
  width: 10px;
  border-top-left-radius: 8px;
  box-shadow: rgba(1, 4, 15, 0.5) 0px -10px 0px 0px;
}
body #menu .projects .projects-btn .projects-icon {
  display: flex;
}
body #menu .projects .projects-btn .projects-icon path {
  stroke: #fff;
}
body header {
  position: absolute;
  width: 100px;
  height: auto;
  top: 1%;
  right: 4%;
  z-index: 1;
}
body main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed !important;
}
@media (max-width: 570px) {
  body main {
    overflow: scroll;
  }
}
body main #canvas {
  position: fixed;
  left: 0;
  z-index: 1;
  pointer-events: none;
  display: block;
}
body main #canvas.hide {
  display: none;
}
body main svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 570px) {
  body main svg {
    width: auto;
    height: auto;
  }
}
@media (min-width: 1026px) and (max-width: 1979px) {
  body main svg {
    height: auto;
  }
}
@media (min-width: 1980px) {
  body main svg {
    height: auto;
  }
}
body main svg .over-lay {
  display: block;
}
body main svg .over-lay.hide {
  display: none;
}
body main svg #wave,
body main svg #heyazah,
body main svg #lex,
body main svg #skyline,
body main svg #business-yard {
  cursor: pointer;
}
body main svg #wave:hover path,
body main svg #heyazah:hover path,
body main svg #lex:hover path,
body main svg #skyline:hover path,
body main svg #business-yard:hover path {
  transition: all 0.3s ease-in-out;
  fill: rgb(37, 37, 37);
}

/*# sourceMappingURL=main.css.map */
