$bg-primary: rgba(1, 4, 15, 0.8);
$bg-secondary: rgba(1, 4, 15, 0.5);
*,
*::after,
*::before {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
button:hover {
  cursor: pointer;
}
button[disabled] {
  display: none;
}
ul li:hover {
  cursor: pointer;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:active {
  color: yellow;
}
a:hover {
  color: #a99929;
}
