@import "../components/mediaqeries";
*,
*::after,
::before {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: bisque;

  .form {
    display: none;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: transparent;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .form-content {
      width: 500px;
      height: 280px;
      border-radius: 12px;
      background-color: rgba(1, 4, 15, 0.5);
    }
    .form-title {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      h3 {
        color: white;
        font-family: sans-serif;
        text-transform: uppercase;
      }
      svg {
        position: absolute;
        right: 8%;
      }
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      .form-control {
        width: 40%;

        label {
          color: #fff;
          text-transform: uppercase;
          font-family: sans-serif;
          font-size: 10px;
        }
        input {
          width: 100%;
          background: rgba(1, 4, 15, 70%);
          border: 1px solid white;
          border-radius: 10px;
          font-size: 24px;
          color: white;
          padding: 4px 8px;
        }
        input[type="submit"] {
          text-transform: uppercase;
          font-size: 14px;
          /* width: 70%; */
          padding: 10px;
        }
      }
    }
  }

  .contacts {
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .mail {
      background-color: rgba(1, 4, 15, 0.5);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33px;
      height: 33px;
      align-self: end;
      margin-bottom: 20px;
    }
    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      padding: 7px 15px;
      border-radius: 8px;
      background-color: rgba(1, 4, 15, 0.5);
      color: #fff;

      p {
        margin: 0;
        margin-left: 20px;
        font-family: sans-serif;
        letter-spacing: 1px;
      }
    }
  }

  .top-menu {
    position: fixed;
    bottom: 1%;
    left: 50%;
    display: flex;
    z-index: 5;
    transform: translate(-50%);

    .hamburger-icon {
      display: flex;
      align-items: center;
      border-radius: 50%;
      background-color: rgba(1, 4, 15, 50%);
      cursor: pointer;
      transition: all 0.3s;
      animation-iteration-count: infinite;
      svg path {
        stroke: #fff;
      }
    }
    .all-nav-links {
      display: none;
      background-color: rgba(1, 4, 15, 50%);
      border-radius: 10px;
      transition: all 0.3s;
      .close-top-menu {
        transform: rotateZ(270deg);
        transition: all 0.3s ease-in-out;
        svg path {
          stroke: #fff;
        }

        &:hover {
          svg {
            transform: scale(1.2);
          }
        }
      }
    }

    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 6px;
      cursor: pointer;

      a {
        font-size: 9px;
        text-decoration: none;
        font-family: monospace;
        color: white;
      }

      svg {
        width: auto !important;
        height: auto !important;
        margin-left: 3px;
      }
    }
  }

  #pop-up-card {
    display: none;
    position: absolute;
    right: 10px;
    top: 25%;
    width: 180px;
    z-index: 3;
    flex-direction: row-reverse;
    border-radius: 4px;
    overflow: hidden;
    .pop-up-content {
      display: none;
      width: 100%;
      max-width: 100%;
      background-color: rgba(1, 4, 15, 50%);
      border-radius: 8px;
      overflow: hidden;
      padding-bottom: 4px;
    }

    .pop-up-img {
      display: flex;

      img {
        width: 100%;
      }
    }
    .pop-up-info {
      font-family: cursive;
      font-size: 10px;
      text-align: left;
      line-height: 1.5;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      color: #fff;
    }
    .pop-up-btn {
      display: flex;
      justify-content: center;
      button {
        width: 90%;
        background: rgb(242, 237, 233);
        border-radius: 8px;
        border: none;
      }
    }
    #close-pop-up {
      padding-left: 3px;
      button {
        background: rgba(1, 4, 15, 50%);
        border: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;
      }
      svg {
        transform: rotateZ(179deg) rotateX(182deg);
      }
    }
  }

  #menu {
    position: fixed;
    z-index: 2;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;

    .all-projects-btn {
      pointer-events: all;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: rgba(1, 4, 15, 50%);
      border-radius: 0px 8px 8px 0px;
      cursor: pointer;
      transition: all 0.3s ease-in;
      padding: 10px 0;

      &:hover {
        svg {
          transform: rotate(180deg) scale(1.5);
        }
      }

      #menu-btn {
        border: none;
        background: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        text-transform: capitalize;
        cursor: pointer;
        color: inherit;
      }
      svg {
        transition: all 0.3s ease-in-out;
        transform: rotate(180deg);
        path {
          stroke: #fff;
        }
      }
    }
    .projects {
      width: 600px;
      height: 100vh;
      min-height: 100vh;
      max-height: 100vh;
      display: flex;
      align-items: center;
      transform: translateX(-410px);
      transition: all 0.3s ease-in-out;

      .projects-content {
        width: 264px;
        background-color: rgba(1, 4, 15, 50%);
        height: 100%;
        padding-right: 5px;
        padding-bottom: 15px;

        .title {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 15px;

          &::after {
            position: absolute;
            top: 100%;
            // content: "";
            width: 100%;
            height: 20px;
            background: linear-gradient(
              0deg,
              transparent,
              rgba(1, 4, 15, 50%) 100%
            );
            z-index: 99;
          }

          img {
            width: 36px;
            height: 39px;
          }
          h1 {
            font-family: monospace;
            color: white;
            margin-bottom: 5px;
            margin-left: 5px;
          }
        }

        .cards-list {
          height: 95%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 36px;
          padding: 12px 5px 0 8px;
          overflow-y: scroll;
          pointer-events: all;

          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-thumb {
            background: rgba(1, 4, 15, 50%);
            border-radius: 4px;
          }
          .project-card {
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-family: "Courier New", Courier, monospace;

            .card-img {
              display: flex;
              width: 100%;
              border-radius: 10px;
              overflow: hidden;

              img {
                width: 100%;
              }
            }
            .card-info {
              display: flex;
              align-self: flex-start;
              padding: 0 10px;
              padding-right: 0;
              align-items: center;
              width: 100%;
              h4 {
                text-transform: uppercase;
                margin: 0;
                flex-grow: 1;
                font-size: 14px;
              }
            }
            .card-btn {
              padding: 5px;
              display: flex;
              justify-content: flex-end;
              // width: 100%;

              .card-item h6 {
                margin: 0;
              }
              .card-item p {
                margin: 2px 0;
                color: rgb(182, 182, 182);
              }
              .card-item:last-child {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              button {
                width: 91px;
                height: 32px;
                border-radius: 6px;
                font-size: 9.6px;
                background: rgb(242, 237, 233);
                color: rgb(112, 112, 112);
                border: none;
                cursor: pointer;
              }
            }
          }
        }
      }

      .projects-btn {
        position: relative;
        background-color: rgba(1, 4, 15, 50%);
        border-radius: 0px 8px 8px 0px;
        width: 28px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: all;
        cursor: pointer;

        &::before {
          position: absolute;
          // content: "";
          background-color: transparent;
          top: -20px;
          left: 0px;
          height: 20px;
          width: 10px;
          border-bottom-left-radius: 8px;
          box-shadow: rgba(1, 4, 15, 50%) 0px 10px 0px 0px;
        }
        &::after {
          // content: "";
          position: absolute;
          background-color: transparent;
          bottom: -20px;
          left: 0px;
          height: 20px;
          width: 10px;
          border-top-left-radius: 8px;
          box-shadow: rgba(1, 4, 15, 50%) 0px -10px 0px 0px;
        }

        .projects-icon {
          display: flex;
          path {
            stroke: #fff;
          }
        }
      }
    }
  }

  header {
    position: absolute;
    width: 100px;
    height: auto;
    top: 1%;
    right: 1%;
    z-index: 1;
  }

  main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed !important;

    @include respond(xs) {
      overflow: scroll;
    }

    #canvas {
      position: absolute;
      left: 0;
      z-index: 1;
      pointer-events: none;
    }
    svg {
      width: 100%;
      height: 100%;
      @include respond(xs) {
        width: auto;
        height: auto;
      }

      #wave,
      #heyazah,
      #lex,
      #skyline,
      #business-yard {
        cursor: pointer;

        &:hover {
          path {
            transition: all 0.3s ease-in-out;
            fill: rgb(37, 37, 37);
          }
        }
      }
    }
  }
}
